* {
    box-sizing: border-box;
}

body {
    font-family: Arial, serif;
    background-color: #F2F2F2;

}

.headerName {
    font-family: Acme, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer {
    background-color: #1E5927;
    height: 10vh;
    color: white;
}

.submitKnap {
    background-color: #80BF8A;
    color: white;
}

.link {
    color: #308C47;
}

i.fa-solid, i.fa-brands {
    color: black;
}